/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  /* Basic styles */
    html {
        font-size: 18px;
    }

    body {
        font-family: 'Epilogue', sans-serif;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main {
    }

  /* Classes, ids, etc*/

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }

  .nav-body {
    height: 0;
    overflow: hidden;
  }

  .sidebar {
    z-index: 10000;
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    transform: translate(200%);
    box-shadow: -200px 0px rgba(0, 0, 0, 0.2);
  }

  .show-sidebar {
    transform: translate(0);
    opacity: 1;
    background-color: white;
    color: black;
    max-width: 260px;
  }

  .open {
    border: none;
    background-color: transparent;
  }

  .close {
    border: none;
    background-color: transparent;
    margin: 1rem 1rem 0 0;
  }

  .close-container {
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-end;
  }

  .close:hover, .open:hover {
    cursor: pointer;
  }

  .sidebar-list {
    list-style-type: none;
  }

  .sidebar-list li{
    font-size: .9em;
    margin: 1rem 0;
  }

  .sidebar-list li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  .nested-list {
    color: hsl(0, 0%, 41%);
    margin-left: 1rem;
    padding: 0;
    list-style: none;
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .show-nested-list {
    width: auto;
    height: auto;
  }

  .hide-arrow {
    width: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .login {
    border: none;
    color: hsl(0, 0%, 41%);
    background-color: transparent;
    margin-bottom: 20px;
  }

  .login:hover,
  .register:hover {
    color: black;
  }

  .register {
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 10px;
    color: hsl(0, 0%, 41%);
    background-color: transparent;
    padding: 10px 50px;
  }

  .content-wrapper {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-img {
    background-image: url(../images/image-hero-mobile.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 225px;
  }

  .text {
    width: 350px;
  }

  .text p {
    color: hsl(0, 0%, 41%);
  }

  .learn-more {
    margin-bottom: 1.5rem;
  }

  .learn-more-button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 15px 25px;
  }

  .learn-more-button:hover {
    background-color: white;
    color: black;
  }

  .company-list {
    width: 350px;
  }

  .company-list ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .company img{
    width: 75px;
  }


  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
    .nav-container {
      width: 725px;
      flex-direction: row;
    }

    .mobile-nav {
      width: auto;
    }

    .open {
      display: none;
    }

    .nav-body {
      height: auto;
      overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    .nav-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 10px;
      margin: 0;
    }

    .listed-item,
    .item {
      padding-right: 10px;
    }

    .nav-list li a {
      text-decoration: none;
      color: black;
    }

    .nested-list {
      margin: 0;
    }

    .buttons {
      flex-direction: row;
      align-items: center;
    }

    .login {
      margin-bottom: 0;
    }

    #feature {
      transform: translate(-20%, 0);
    }

    .show-nested-list {
      position: absolute;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
    }

    .content-wrapper {
      width: 725px;
      flex-direction: row-reverse;
      padding-top: 40px;
    }

    .img-wrapper,
    .text-wrapper {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .hero-img {
      background-image: url(../images/image-hero-desktop.png);
      background-position: center;
      background-size: cover;
      width: 256px;
      height: 485px;
      /*480 / 910*/
    }

    .text {
      padding-top: 20px;
      text-align: left;
    }

    .text h1 {
      font-size: 2.5em;
    }


    .learn-more-button {
      border-radius: 15px;
    }

    .company-list {
      padding-top: 44px;
    }

  }

  @media only screen and (min-width: 1440px) {
    .nav-container {
      width: 1296px;
    }

    

  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
  